# Node
node_modules/

# Hardhat
cache/
artifacts/

# Deployments
deployments/

# Typechain
types/
typechain/

# Env
.env

# Coverage
coverage/
coverage.json

# Temp/local stuff that shouldn't be pushed
local/
