# Node
node_modules/

# Hardhat
cache/
artifacts/
deployments/localhost/

# Typechain
types/
typechain/

# Exports
exports/

# Env
.env

# Coverage
coverage/
coverage.json

# Temp/local stuff that shouldn't be pushed
local/

tenderly.yaml

# Certora
.certora_config
.last_confs
.certora_build.json
.certora_metadata.json
.certora_recent_jobs.json
.certora_verify.json