name: Coveralls

# Controls when the action will run.
on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js 14 LTS
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

    - uses: actions/cache@v2
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Installing dependencies
      run: yarn install --frozen-lockfile

    - name: compile
      run: yarn build

    - name: test coverage
      run: yarn test:coverage
      env:
        ALCHEMY_API_KEY: ${{ secrets.ALCHEMY_API_KEY }}

    - name: Coveralls
      uses: coverallsapp/github-action@master
      continue-on-error: true
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
